body {
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.title {
display: flex;
justify-content: center;
letter-spacing: 30px;
font-size:50px;
text-shadow: 5px 10px 15px black;
}
.content{
    padding-top: 20px;


}

.content:hover{
    background-color: yellow;
    
}

a:hover{
    color:turquoise;
    font-weight: bold;
}
 
  